<div class="well well-sm">
  {{#link-to 'employees.new' class='btn btn-primary'}}Add employee{{/link-to}}
</div>

<table class="table">
  <thead>
    <tr class="table-head">
      <th class="col-sm-4">Employee</th>
      <th class="col-sm-3">Role</th>
      <th class="table-head__col--centered col-sm-2">Hourly plan</th>
      <th class="col-sm-3"></th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |employee|}}
    <tr class="table-row">
      <td>{{employee.fullName}}</td>
      <td>{{employee.role}}</td>
      <td class="table-row__col--centered">{{employee.hourlyPlan}}H</td>
      <td class="table-row__col--actions">
        {{row-buttons param=employee remove='deleteEmployee'}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
