<div class="container">
  <h2 id="title">Welcome to Siili</h2>

  <ul class="nav nav-tabs">
    {{#active-link}}
    {{#link-to 'employees'}}
      {{fa-icon 'star'}}
      Employees
    {{/link-to}}
    {{/active-link}}
  </ul>

  <div class="content">
    {{outlet}}
  </div>
</div>
