{{#unless model}}
  <div class="jumbotron">
    <h2>Employees will appear here</h2>
    <p>People added to this list will be able to submit their working hours.</p>
    <p>{{#link-to 'employees.new' class='btn btn-default'}}Add employee{{/link-to}}</p>
  </div>
{{else}}
  {{outlet}}
{{/unless}}
